body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upper-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changelogs{
  display: flex;
  flex-direction: row;
}

hr{
  border: 1px solid black;
}

.paragraph{
  line-height: 50px;
  padding: 10px;
}

h5{
  color: gray;
}